.product-preview {
    box-shadow: 0px 0px 7px 0px #5e5e5e;
    border-radius: 3px;
    padding: 20px;
    background-color: white;

    * {
        background-color: white;
    }
    label {
        font-weight: 600;
        color: rgb(173, 61, 61);
        // margin-block-end: 50px;
    }
    img {
        width: 100%;
        object-fit: cover;
        margin: 20px 0;
    }
}
